{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Engineer Dashboard</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one
            in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it
            to your liking.</p>
        <a href="{% url 'engineer-active-tickets' %}" class="btn btn-primary btn-lg" type="button">View Active Tickets</a>
        <a href="{% url 'engineer-active-complaints' %}" class="btn btn-primary btn-lg" type="button">View Active Complaints</a>
    </div>
</div>

<div>
    <div class="row">
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Active Tickets <br> {{active_tickets}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Closed Tickets <br> {{closed_tickets}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Total Tickets <br> {{tickets}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Active Complaints <br> {{active_complaints}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Closed complaints <br> {{closed_complaints}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-6 fw-bold">Total complaints <br> {{complaints}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}