{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <h1 class="display-5 fw-bold">Officer Dashboard</h1>
        <p class="col-md-8 fs-4">Welcome to your dashboard. Explore and manage various aspects of your officering tasks and projects.</p>
        <div class="btn-group">
            <a href="{% url 'officer-active-tickets' %}" class="btn btn-primary btn-lg" type="button">View Active Tickets</a>
            <a href="{% url 'officer-active-complaints' %}" class="btn btn-primary btn-lg" type="button">View Active Complaints</a>
            <a href="{% url 'officer-active-ideations' %}" class="btn btn-primary btn-lg" type="button">View Active Ideation Form Applications</a>
            <a href="{% url 'officer-active-incubators' %}" class="btn btn-primary btn-lg" type="button">View Active Incubator Form Applications</a>
            <a href="{% url 'officer-active-accelerators' %}" class="btn btn-primary btn-lg" type="button">View Active Accelerator Form Applications</a>
            <a href="{% url 'officer-active-ictsmes' %}" class="btn btn-primary btn-lg" type="button">View Active ICT SME Form Applications</a>
        </div>
    </div>

    <!--<div class="row">
        < Ticket Information 
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Active Tickets</h2>
                    <p class="card-text">{{ active_tickets }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Closed Tickets</h2>
                    <p class="card-text">{{ closed_tickets }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Total Tickets</h2>
                    <p class="card-text">{{ tickets }}</p>
                </div>
            </div>
        </div>
    </div>

     Complaint Information --
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Active Complaints</h2>
                    <p class="card-text">{{ active_complaints }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Closed Complaints</h2>
                    <p class="card-text">{{ closed_complaints }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Total Complaints</h2>
                    <p class="card-text">{{ complaints }}</p>
                </div>
            </div>
        </div>
    </div>

     Ideation Information 
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Active Ideations</h2>
                    <p class="card-text">{{ active_ideations }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Closed Ideations</h2>
                    <p class="card-text">{{ closed_ideations }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Total Ideations</h2>
                    <p class="card-text">{{ ideations }}</p>
                </div>
            </div>
        </div>
    </div>

     Incubator Information 
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Active Incubators</h2>
                    <p class="card-text">{{ active_incubators }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Closed Incubators</h2>
                    <p class="card-text">{{ closed_incubators }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Total Incubators</h2>
                    <p class="card-text">{{ incubators }}</p>
                </div>
            </div>
        </div>
    </div>

     Accelerator Information 
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Active Accelerators</h2>
                    <p class="card-text">{{ active_accelerators }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Closed Accelerators</h2>
                    <p class="card-text">{{ closed_accelerators }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Total Accelerators</h2>
                    <p class="card-text">{{ accelerators }}</p>
                </div>
            </div>
        </div>
    </div>

     ICTSME Information 
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Active ICTSMEs</h2>
                    <p class="card-text">{{ active_ictsmes }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Closed ICTSMEs</h2>
                    <p class="card-text">{{ closed_ictsmes }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title display-6 fw-bold">Total ICTSMEs</h2>
                    <p class="card-text">{{ ictsmes }}</p>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock content %}
