{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <h1 class="display-5 fw-bold">Officer Dashboard</h1>
        <p class="col-md-8 fs-4">Welcome to your dashboard. Explore and manage various aspects of your officering tasks and projects.</p>
        <div class="btn-group">
            
            <a href="{% url 'officer-active-tickets' %}" class="btn btn-primary btn-lg" type="button">View Active Tickets</a>
            <a href="{% url 'officer-active-complaints' %}" class="btn btn-primary btn-lg" type="button">View Active Complaints</a>
            <a href="{% url 'officer-active-ideations' %}" class="btn btn-primary btn-lg" type="button">View Active Ideation Form Applications</a>
            <a href="{% url 'officer-active-incubators' %}" class="btn btn-primary btn-lg" type="button">View Active Incubator Form Applications</a>
            <a href="{% url 'officer-active-accelerators' %}" class="btn btn-primary btn-lg" type="button">View Active Accelerator Form Applications</a>
            <a href="{% url 'officer-active-ictsmes' %}" class="btn btn-primary btn-lg" type="button">View Active ICT SME Form Applications</a>
            <a href="{% url 'inbox' %}" class="btn btn-primary btn-lg position-relative" type="button">
                View Inbox
                {% if unread_message_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ unread_message_count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                {% endif %}
            </a>
        </div>
    </div>
{% endblock %}
