{% extends 'base.html' %}

{% block content %}

<div class="row p-5 mb-4 bg-light rounded-3">
    <div class="col-md-8">
        <div class="py-5">
            <h1 class="display-6 fw-bold">{{complaint.complaint_title}}</h1>
            <p>{{complaint.complaint_details}}</p>
            {% if complaint.status == 'Pending' %}
                <span class="badge bg-warning">Pending</span>
            {% elif complaint.status == 'Active' %}
                <span class="badge bg-success">Active</span>
            {% elif complaint.status == 'Resolved' %}
                <span class="badge bg-danger">Resolved</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="py-5">
                    <h2 class="display-6">Quick Info</h2>
                    <p>Here is some quick information about the complaint and the customer you are supporting.</p>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Complaint Unique ID:</b> {{complaint.complaint_id}}</li>
                        <li class="list-group-item"><b>Customer:</b> {{complaint.customer}}</li>
                        <li class="list-group-item"><b>officer:</b> {{complaint.officer}}</li>
                        <li class="list-group-item"><b>Created On:</b> {{complaint.created_on}}</li>
                        <li class="list-group-item"><b>Severity:</b> {{complaint.severity}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--this is what i where to add the form fields. appname.fieldname-->
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">Complaint Details</h2>
        <dl class="row">
            <dt class="col-sm-3">Complaint Title:</dt>
            <dd class="col-sm-9">{{ complaint.complaint_title }}</dd>

            <dt class="col-sm-3">Complainant Name:</dt>
            <dd class="col-sm-9">{{ complaint.complainant_name }}</dd>

            <dt class="col-sm-3">Complainant Phone:</dt>
            <dd class="col-sm-9">{{ complaint.complainant_phone }}</dd>

            <dt class="col-sm-3">Submitted for Another:</dt>
            <dd class="col-sm-9">{{ complaint.is_submitted_for_another }}</dd>

            <dt class="col-sm-3">Other Innovator Name:</dt>
            <dd class="col-sm-9">{{ complaint.other_innovator_name }}</dd>

            <dt class="col-sm-3">Other Innovator Contact:</dt>
            <dd class="col-sm-9">{{ complaint.other_innovator_contact }}</dd>

            <dt class="col-sm-3">Complaint Details:</dt>
            <dd class="col-sm-9">{{ complaint.complaint_details }}</dd>

            <dt class="col-sm-3">First Time Submission:</dt>
            <dd class="col-sm-9">{{ complaint.is_first_time_submission }}</dd>

            <dt class="col-sm-3">additional Information:</dt>
            <dd class="col-sm-9">{{ complaint.additional_information }}</dd>
        </dl>
    </div>
</div>

{% if complaint.is_resolved %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Resolution Steps</h5>
        {{complaint.resolution_steps}}
    </div>
</div>
{% else %}
{% if request.user.is_officer %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Mark As Resolved
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resolution Steps</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">

                        <form action="{% url 'resolve-complaint' complaint.complaint_id %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Here's how the
                                    issue was resolved</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="rs"></textarea>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>
                
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</form>
</div>
</div>
{% endif %}
{% endif %}

{% endblock content %}


