{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for complaint in complaints %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{complaint.complaint_title}} #{{complaint.complaint_id}}</h5>
                <p class="card-text">
                    {% if complaint.status == 'Pending' %}
                    <span class="badge bg-warning">Pending</span>
                    {% elif complaint.status == 'Active' %}
                    <span class="badge bg-success">Active</span>
                    {% elif complaint.status == 'Resolved' %}
                    <span class="badge bg-danger">Resolved</span>
                    {% endif %}
                </p>
            </div>
            <a href="{% url 'complaint-details' complaint.complaint_id %}" class="btn btn-primary btn-sm">View Details</a>
            <div class="card-footer">
                <small class="text-muted">Created {{complaint.created_on|naturaltime}}</small>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock content %}