

{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            {% include 'dashboard/sidebar.html' %}
        </div>
        <div class="col-md-9">
            <div class="container col-xl-12 col-xxl-10 px-4 py-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-10">
                        <h2 class="display-6 fw-bold lh-1 mb-3 text-center">Entry Form For Startup at Incubator Stage (MVP)</h2>
                    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
                        {% csrf_token %}
        
                        <!-- Form fields -->
                        <div class="mb-3">
                            <label for="incubatorTitle" class="form-label">Company Name<span class="text-danger">*</span></label>
                            {% render_field form.incubator_title class="form-control" id="incubatorTitle" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="positionInCompany" class="form-label">Position in Company<span class="text-danger">*</span></label>
                            {% render_field form.position_in_company class="form-control" id="positionInCompany" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="applicantName" class="form-label">Applicant Name<span class="text-danger">*</span></label>
                            {% render_field form.applicant_name class="form-control" id="applicantName" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="applicantPhone" class="form-label">Applicant Phone<span class="text-danger">*</span></label>
                            {% render_field form.applicant_phone class="form-control" id="applicantPhone" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="productName" class="form-label">Name of product or innovation at MVP stage<span class="text-danger">*</span></label>
                            {% render_field form.product_name class="form-control" id="productName" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="servingSectors" class="form-label">List the sectors that your product is serving:<span class="text-danger">*</span></label>
                            {% render_field form.serving_sectors class="form-control" id="servingSectors" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="problemDescription" class="form-label">Problem addressed by the product or innovation:<span class="text-danger">*</span></label>
                            {% render_field form.problem_description class="form-control" id="problemDescription" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="solutionDescription" class="form-label">Describe how the product or innovation  will address the problem above:<span class="text-danger">*</span></label>
                            {% render_field form.solution_description class="form-control" id="solutionDescription" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="competitorsDescription" class="form-label">Briefly describe competitors and your key advantage over the competition<span class="text-danger">*</span></label>
                            {% render_field form.competitors_description class="form-control" id="competitorsDescription" %}
                        </div>
        
                        <div class="mb-3">
                            <label for="marketPotential" class="form-label">Briefly describe your product or innovation market potential (e.g. reach, number of clients, transactions, etc)<span class="text-danger">*</span></label>
                            {% render_field form.market_potential class="form-control" id="marketPotential" %}
                        </div>
        
                        <!-- Conditional fields with checkboxes -->
                        <div class="form-check mb-3">
                            {% render_field form.have_technical_documentation class="form-check-input" id="have_technical_documentation" %}
                            <label class="form-check-label" for="have_technical_documentation"> Do you have a technical documentation that supports you in delivering your product</label>
                        </div>
                        <div id="technical_documentation_field" style="display: none;">
                            <div class="mb-3">
                                <label for="technicalDocumentation" class="form-label">Technical Documentation</label>
                                {% render_field form.technical_documentation class="form-control" id="technicalDocumentation" %}
                            </div>
                        </div>
        
                        <div class="form-check mb-3">
                            {% render_field form.have_ursb_registration_number class="form-check-input" id="have_ursb_registration_number" %}
                            <label class="form-check-label" for="have_ursb_registration_number">Is the company registered at URSB?</label>
                        </div>
                        <div id="ursb_registration_number_field" style="display: none;">
                            <div class="mb-3">
                                <label for="ursbRegistrationNumber" class="form-label">URSB Registration Number</label>
                                {% render_field form.ursb_registration_number class="form-control" id="ursbRegistrationNumber" %}
                            </div>
                        </div>
        
                        <div class="form-check mb-3">
                            {% render_field form.have_documented_processes class="form-check-input" id="have_documented_processes" %}
                            <label class="form-check-label" for="have_documented_processes">Have Documented Processes</label>
                        </div>
                        <div id="documented_processes_field" style="display: none;">
                            <div class="mb-3">
                                <label for="documentedProcesses" class="form-label">Does the company have documented process/procedure to manage human resource and financial records</label>
                                {% render_field form.documented_processes class="form-control" id="documentedProcesses" %}
                            </div>
                        </div>
        
                        <div class="form-check mb-3">
                            {% render_field form.have_ura_registration_number class="form-check-input" id="have_ura_registration_number" %}
                            <label class="form-check-label" for="have_ura_registration_number">Is the company registered with URA?If Yes tick and provide the Tax Identification Number</label>
                        </div>
                        <div id="ura_registration_number_field" style="display: none;">
                            <div class="mb-3">
                                <label for="uraRegistrationNumber" class="form-label">URA Registration Number</label>
                                {% render_field form.ura_registration_number class="form-control" id="uraRegistrationNumber" %}
                            </div>
                        </div>
        
                        <div class="form-check mb-3">
                            {% render_field form.have_pdpo_registration_number class="form-check-input" id="have_pdpo_registration_number" %}
                            <label class="form-check-label" for="have_pdpo_registration_number">Is the company registered with Personal Data Protection Office?If yes check the box,provide the PDPO registration number</label>
                        </div>
                        <div id="pdpo_registration_number_field" style="display: none;">
                            <div class="mb-3">
                                <label for="pdpoRegistrationNumber" class="form-label">PDPO Registration Number</label>
                                {% render_field form.pdpo_registration_number class="form-control" id="PDPORegistrationNumber" %}
                            </div>
                        </div>
        
                        <!-- Add other fields as needed -->
                        <div class="mb-3">
                            <label for="{{ form.funding_amount.id_for_label }}" class="form-label">Has the company raised any funding?If yes,Kindly indicate the amount of funding raised:</label>
                            {% render_field form.funding_amount class="form-control" %}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.hub_requirements.id_for_label }}" class="form-label">Kindly list below the requirements or support that you seek from the National ICT Innovation Hub</label>
                            {% render_field form.hub_requirements class="form-control" %}
                        </div>
        
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            // Add logic for showing/hiding conditional fields based on checkbox state
            // Example:
            $('#have_technical_documentation').change(function() {
                if(this.checked) {
                    $('#technical_documentation_field').show();
                } else {
                    $('#technical_documentation_field').hide();
                }
            });
        
            $('#have_ursb_registration_number').change(function() {
                if(this.checked) {
                    $('#ursb_registration_number_field').show();
                } else {
                    $('#ursb_registration_number_field').hide();
                }
            });
        
            $('#have_documented_processes').change(function() {
                if(this.checked) {
                    $('#documented_processes_field').show();
                } else {
                    $('#documented_processes_field').hide();
                }
            });
        
            $('#have_ura_registration_number').change(function() {
                if(this.checked) {
                    $('#ura_registration_number_field').show();
                } else {
                    $('#ura_registration_number_field').hide();
                }
            });
        
            $('#have_pdpo_registration_number').change(function() {
                if(this.checked) {
                    $('#pdpo_registration_number_field').show();
                } else {
                    $('#pdpo_registration_number_field').hide();
                }
            });
        
            // Add similar logic for other conditional fields
        });
        </script>
        
</div>
{% endblock content %}