{% load static %}

{% include 'includes/head.html' %}
<body>

    {% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    

    {% block custom_assets %}
    {# Add your custom CSS here #}
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}">
    {% endblock %}

    {% block frontend_scripts %}
    {# Load Bootstrap scripts distributed by coderedcms, or use your own as needed #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    {% endblock %}

    {% block custom_scripts %}
    {# Add your custom JavaScript here, or delete the line below if you don't need any #}
    <script src="{% static 'website/js/custom.js' %}"></script>
    {% endblock %}

</body>
</html>
