{% extends 'base.html' %}

{% block content %}

<div class="row p-5 mb-4 bg-light rounded-3">
    <div class="col-md-8">
        <div class=" py-5">
            <h1 class="display-6 fw-bold">{{ticket.ticket_title}}</h1>
            <p class="">
                {{ticket.ticket_description}}
            </p>
            {% if ticket.status == 'Pending' %}
            <span class="badge bg-warning">Pending</span>
            {% elif ticket.status == 'Active' %}
            <span class="badge bg-success">Active</span>
            {% elif ticket.status == 'Resolved' %}
            <span class="badge bg-danger">Resolved</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <div class=" py-5">
                    <h2 class="display-6">Quick Info</h2>
                    <p>Here are some quick information about the ticket and the customer that you are supporting.
                    </p>
                    <ul class="icon-list">
                        <li><b>Ticket Unique ID:</b> {{ticket.ticket_id}}</li>
                        <li><b>Customer:</b> {{ticket.customer}}</li>
                        <li><b> officer:</b> {{ticket.officer}}</li>
                        <li><b>Created On:</b> {{ticket.created_on}}</li>
                        <li><b>Severity:</b> {{ticket.severity}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{% if ticket.is_resolved %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Resolution Steps</h5>
        {{ticket.resolution_steps}}
    </div>
</div>
{% else %}
{% if request.user.is_officer %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Mark As Resolved
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resolution Steps</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">

                        <form action="{% url 'resolve-ticket' ticket.ticket_id %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Here's how the
                                    issue was resolved</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="rs"></textarea>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>
                
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</form>
</div>
</div>
{% endif %}
{% endif %}

{% endblock content %}