{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            {% include 'dashboard/sidebar.html' %}
        </div>
        <div class="col-md-9">
            <div class="container col-xl-12 col-xxl-10 px-4 py-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-10">
                        <h2 class="display-6 fw-bold lh-1 mb-3 text-center">Entry Form For Startup at Accelerator Stage</h2>
                        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="{{ form.accelerator_title.id_for_label }}" class="form-label">Company Name</label>
                                {% render_field form.accelerator_title class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.position_in_company.id_for_label }}" class="form-label">Position in Company</label>
                                {% render_field form.position_in_company class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.applicant_name.id_for_label }}" class="form-label">Applicant Name</label>
                                {% render_field form.applicant_name class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.applicant_phone.id_for_label }}" class="form-label">Applicant Phone</label>
                                {% render_field form.applicant_phone class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.product_name.id_for_label }}" class="form-label">Name of product or innovation </label>
                                {% render_field form.product_name class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.serving_sectors.id_for_label }}" class="form-label">List the sectors that your product is serving:</label>
                                {% render_field form.serving_sectors class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.problem_description.id_for_label }}" class="form-label">Problem addressed by the product or innovation:</label>
                                {% render_field form.problem_description class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.solution_description.id_for_label }}" class="form-label">Describe how the product or innovation  will address the problem above:</label>
                                {% render_field form.solution_description class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.competitors_description.id_for_label }}" class="form-label">Briefly describe competitors and your key advantage over the competition</label>
                                {% render_field form.competitors_description class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.market_potential.id_for_label }}" class="form-label">Briefly describe your product or service market potential (e.g. reach, number of clients, transactions, etc)</label>
                                {% render_field form.market_potential class="form-control" %}
                            </div>

                            <div class="form-check mb-3">
                                {% render_field form.have_technical_documentation class="form-check-input" id="have_technical_documentation" %}
                                <label class="form-check-label" for="{{ form.have_technical_documentation.id_for_label }}">Do you have technical documentation that supports you in delivering your product or innovation</label>
                            </div>
                            <div id="technical_documentation_field" style="display: none;">
                                <div class="mb-3">
                                    <label for="{{ form.technical_documentation.id_for_label }}" class="form-label">Technical Documentation</label>
                                    {% render_field form.technical_documentation class="form-control" %}
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                {% render_field form.have_ursb_registration_number class="form-check-input" id="have_ursb_registration_number" %}
                                <label class="form-check-label" for="{{ form.have_ursb_registration_number.id_for_label }}">Is the company registered at URSB?If yes,check the box and provide the Business Registration Number</label>
                            </div>
                            <div id="ursb_registration_number_field" style="display: none;">
                                <div class="mb-3">
                                    <label for="{{ form.ursb_registration_number.id_for_label }}" class="form-label">URSB Registration Number</label>
                                    {% render_field form.ursb_registration_number class="form-control" %}
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                {% render_field form.have_documented_processes class="form-check-input" id="have_documented_processes" %}
                                <label class="form-check-label" for="{{ form.have_documented_processes.id_for_label }}">Does the company have documented processor/procedure to manage human resource and financial records?</label>
                            </div>
                            <div id="documented_processes_field" style="display: none;">
                                <div class="mb-3">
                                    <label for="{{ form.documented_processes.id_for_label }}" class="form-label">Documented Processes</label>
                                    {% render_field form.documented_processes class="form-control" %}
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                {% render_field form.have_ura_registration_number class="form-check-input" id="have_ura_registration_number" %}
                                <label class="form-check-label" for="{{ form.have_ura_registration_number.id_for_label }}">Is the company registered with URA?If yes,please check the box annd provide the Tax Identification Number</label>
                            </div>
                            <div id="ura_registration_number_field" style="display: none;">
                                <div class="mb-3">
                                    <label for="{{ form.ura_registration_number.id_for_label }}" class="form-label">URA Registration Number</label>
                                    {% render_field form.ura_registration_number class="form-control" %}
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                {% render_field form.have_pdpo_registration_number class="form-check-input" id="have_pdpo_registration_number" %}
                                <label class="form-check-label" for="{{ form.have_pdpo_registration_number.id_for_label }}">Is the company registered with Personal Data Protection Office?If yes,please indicate the PDPO Registration Number</label>
                            </div>
                            <div id="pdpo_registration_number_field" style="display: none;">
                                <div class="mb-3">
                                    <label for="{{ form.pdpo_registration_number.id_for_label }}" class="form-label">PDPO Registration Number</label>
                                    {% render_field form.pdpo_registration_number class="form-control" %}
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.funding_amount.id_for_label }}" class="form-label">Has the company raised any funding/investment?If yes,Kindly indicate the amount of funding raised:</label>
                                {% render_field form.funding_amount class="form-control" %}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.hub_requirements.id_for_label }}" class="form-label">Kindly list below the requirements or support that you seek from the National ICT Innovation Hub</label>
                                {% render_field form.hub_requirements class="form-control" %}
                            </div>

                            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#have_technical_documentation').change(function() {
                if(this.checked) {
                    $('#technical_documentation_field').show();
                } else {
                    $('#technical_documentation_field').hide();
                }
            });

            $('#have_ursb_registration_number').change(function() {
                if(this.checked) {
                    $('#ursb_registration_number_field').show();
                } else {
                    $('#ursb_registration_number_field').hide();
                }
            });

            $('#have_documented_processes').change(function() {
                if(this.checked) {
                    $('#documented_processes_field').show();
                } else {
                    $('#documented_processes_field').hide();
                }
            });

            $('#have_ura_registration_number').change(function() {
                if(this.checked) {
                    $('#ura_registration_number_field').show();
                } else {
                    $('#ura_registration_number_field').hide();
                }
            });

            $('#have_pdpo_registration_number').change(function() {
                if(this.checked) {
                    $('#pdpo_registration_number_field').show();
                } else {
                    $('#pdpo_registration_number_field').hide();
                }
            });

            // Add similar logic for other conditional fields
        });
        </script>

{% endblock content %}
